{% extends 'admin/base.html' %}

{% load i18n unfold %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
    {% component "unfold/components/flex.html" with col=True class="gap-4 mx-4" %}
        {% comment %} Title {% endcomment %}
        {% component "unfold/components/flex.html" with col=True %}
            {% component "unfold/components/text.html" %}{{ user.get_title_display }}{% endcomponent %}
            {% component "unfold/components/title.html" %}<a href="/secretary/user/{{ user.pk }}/change/">{{ user }}</a>{% endcomponent %}
            {% component "unfold/components/separator.html" %}{% endcomponent %}
        {% endcomponent %}

        {% comment %} First Row {% endcomment %}
        {% component "unfold/components/flex.html" with col=True class="md:flex-row gap-4" %}
            {% component "unfold/components/card.html" with title="Membership Info" label=user.blood_type %}
                {% component "unfold/components/flex.html" with col=True %}
                    {% if user.driving_license_type != "A" %}
                        {% component "unfold/components/text.html" with class="text-red-700 dark:text-red-400 font-semibold" %}License: {{user.driving_license_type}}{% endcomponent %}
                    {% else %}
                        {% component "unfold/components/text.html" with class="text-green-700 dark:text-green-400 font-semibold" %}License: {{user.driving_license_type}}{% endcomponent %}
                    {% endif %}
                    {% component "unfold/components/text.html" %}{{ user.get_charter_display }}{% endcomponent %}
                    {% component "unfold/components/text.html" %}{{ user.date_joined }} - ({{ user.date_joined|timesince }}){% endcomponent %}
                    {% if user.birth_date %}
                        {% component "unfold/components/text.html" %}{{ user.birth_date }} - ({{ user.birth_date|timesince }} old){% endcomponent %}
                    {% endif %}
                    {% if user.sponsor %}
                        {% component "unfold/components/text.html" %}Sponsor: {{ user.sponsor.get_full_name }}{% endcomponent %}
                    {% endif %}
                    {% if user.inventories.all %}
                        {% component "unfold/components/text.html"%}{{ user.inventories.count }} deposit{% endcomponent %}
                    {% endif %}
                    {% if user.contacts.all %}
                        {% component "unfold/components/text.html" %}{{ user.contacts.count }} contact{% endcomponent %}
                    {% else %}
                        {% component "unfold/components/text.html" with class="text-red-700 dark:text-red-400" %}No contacts added{% endcomponent %}
                    {% endif %}
                    {% if user.emergency_contacts.count > 1 %}
                        {% component "unfold/components/text.html" %}{{ user.emergency_contacts.count }} emergency contacts{% endcomponent %}
                    {% elif user.emergency_contacts.count == 1 %}
                        {% component "unfold/components/text.html" with class="text-red-700 dark:text-red-400" %}1 emergency contact{% endcomponent %}
                    {% else %}
                        {% component "unfold/components/text.html" with class="text-red-700 dark:text-red-400" %}No emergency contacts added{% endcomponent %}
                    {% endif %}
                {% endcomponent %}
            {% endcomponent %}

            {% for vehicle in user.vehicles.all %}
                {% component "unfold/components/card.html" with title=vehicle.plate label=vehicle.is_active|yesno:"Active,Inactive" %}
                    {% component "unfold/components/flex.html" with col=True %}
                        {% component "unfold/components/text.html" %}{{ vehicle.brand }}{% endcomponent %}
                        {% component "unfold/components/text.html" %}{{ vehicle.model }}{% endcomponent %}
                        {% component "unfold/components/text.html" %}{{ vehicle.engine_capacity }} cc{% endcomponent %}
                        {% component "unfold/components/text.html" %}{{ vehicle.year }}{% endcomponent %}
                        {% component "unfold/components/text.html" %}Maintenance: {{ vehicle.last_maintenance_date|timesince|default:"-" }}{% endcomponent %}
                        {% component "unfold/components/text.html" %}Inspection: {{ vehicle.inspection_expiry_date|timeuntil|default:"-" }}{% endcomponent %}
                        {% component "unfold/components/text.html" %}Insurance: {{ vehicle.insurance_expiry_date|timeuntil|default:"-" }}{% endcomponent %}
                    {% endcomponent %}
                {% endcomponent %}
            {% empty %}
                {% component "unfold/components/card.html" with title="Vehicle Info" %}
                    {% component "unfold/components/title.html" %}No vehicle{% endcomponent %}
                {% endcomponent %}
            {% endfor %}
        {% endcomponent %}

        {% comment %} Second Row {% endcomment %}
        {% component "unfold/components/flex.html" with col=True class="lg:flex-row gap-4" %}
            {% component "unfold/components/card.html" with title="My Participations" icon="calendar_month" %}
                {% component "unfold/components/title.html" %}{{ user.attended_events.count|default:"Invisible" }}{% endcomponent%}
            {% endcomponent%}
            {% component "unfold/components/card.html" with title="My Rides" icon="directions" %}
                {% component "unfold/components/title.html" %}{{ ride_count_title }}{% endcomponent%}
            {% endcomponent%}
            {% component "unfold/components/card.html" with title="My Debts" icon="wallet" label=total_debt_label %}
                {% component "unfold/components/title.html" %}{{ total_debt_title }}{% endcomponent%}
            {% endcomponent%}
            {% component "unfold/components/card.html" with title="My Penalties" icon="warning" label="in a year" %}
                {% component "unfold/components/title.html" %}{{ penalty_count_title }}{% endcomponent%}
            {% endcomponent%}
            {% if is_member %}
                {% component "unfold/components/card.html" with title="Net Balance" icon="balance" %}
                    {% component "unfold/components/title.html" %}{{ balance_title }}{% endcomponent%}
                {% endcomponent%}
            {% endif %}
        {% endcomponent %}

        {% component "unfold/components/separator.html" %}{% endcomponent %}

        {% comment %} Table {% endcomment %}
        {% if is_member %}
            {% component "unfold/components/flex.html" with col=True class="lg:flex-row gap-4" %}
                {% component "unfold/components/card.html" with title="Event Absences" footer="in a year" %}
                    {% component "unfold/components/table.html" with table=event_table card_included=1 striped=1 %}{% endcomponent%}
                {% endcomponent %}
                {% component "unfold/components/card.html" with title="Ride Absences" footer="in a year" %}
                    {% component "unfold/components/table.html" with table=ride_table card_included=1 striped=1 %}{% endcomponent%}
                {% endcomponent %}
                {% component "unfold/components/card.html" with title="Unpaid Dues" footer="in a year" %}
                    {% component "unfold/components/table.html" with table=due_table card_included=1 striped=1 %}{% endcomponent%}
                {% endcomponent %}
            {% endcomponent %}
            {% component "unfold/components/flex.html" with col=True class="lg:flex-row gap-4" %}
                {% component "unfold/components/card.html" with title="Missing Contacts" footer=contact_table_footer %}
                    {% component "unfold/components/table.html" with table=contact_table card_included=1 striped=1 %}{% endcomponent%}
                {% endcomponent %}
                {% component "unfold/components/card.html" with title="Riders" footer=motorcycle_table_footer %}
                    {% component "unfold/components/table.html" with table=motorcycle_table card_included=1 striped=1 %}{% endcomponent%}
                {% endcomponent %}
            {% endcomponent %}
        {% endif %}
    {% endcomponent %}
{% endblock %}