{% extends 'admin/base.html' %}

{% load i18n unfold %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
    {% component "unfold/components/flex.html" with col=True class="gap-4 mx-4" %}
        {% comment %} Title {% endcomment %}
        {% component "unfold/components/flex.html" with col=True %}
            {% component "unfold/components/text.html" %}{{ user.get_title_display }}{% endcomponent %}
            {% component "unfold/components/title.html" %}<a href="/secretary/user/{{ user.pk }}/change/">{{ user }}</a>{% endcomponent %}
            {% component "unfold/components/separator.html" %}{% endcomponent %}
        {% endcomponent %}

        {% comment %} First Row {% endcomment %}
        {% component "unfold/components/flex.html" with col=True class="md:flex-row gap-4" %}
            {% component "unfold/components/card.html" with title=_("Membership Info") label=user.blood_type %}
                {% component "unfold/components/flex.html" with col=True %}
                    {% if user.driving_license_type != "A" %}
                        {% component "unfold/components/text.html" with class="text-red-700 dark:text-red-400 font-semibold" %}{% trans 'License' %}: {{user.driving_license_type}}{% endcomponent %}
                    {% else %}
                        {% component "unfold/components/text.html" with class="text-green-700 dark:text-green-400 font-semibold" %}{% trans 'License' %}: {{user.driving_license_type}}{% endcomponent %}
                    {% endif %}
                    {% component "unfold/components/text.html" %}{{ user.date_joined }} - ({{ user.date_joined|timesince }}){% endcomponent %}
                    {% if user.birth_date %}
                        {% component "unfold/components/text.html" %}{{ user.birth_date }} - ({{ user.birth_date|timesince }}){% endcomponent %}
                    {% endif %}
                    {% if user.sponsor %}
                        {% component "unfold/components/text.html" %}{% trans 'Sponsor' %}: {{ user.sponsor.get_full_name }}{% endcomponent %}
                    {% endif %}
                    {% if user.inventories.all %}
                        {% component "unfold/components/text.html"%}{{ user.inventories.count }} {% trans 'deposit' %}{% endcomponent %}
                    {% endif %}
                    {% if user.contacts.all %}
                        {% component "unfold/components/text.html" %}{{ user.contacts.count }} {% trans 'contact' %}{% endcomponent %}
                    {% else %}
                        {% component "unfold/components/text.html" with class="text-red-700 dark:text-red-400" %}{% trans 'No contacts added' %}{% endcomponent %}
                    {% endif %}
                    {% if user.emergency_contacts.count > 1 %}
                        {% component "unfold/components/text.html" %}{{ user.emergency_contacts.count }} {% trans 'emergency contacts' %}{% endcomponent %}
                    {% elif user.emergency_contacts.count == 1 %}
                        {% component "unfold/components/text.html" with class="text-red-700 dark:text-red-400" %}1 {% trans 'emergency contact' %}{% endcomponent %}
                    {% else %}
                        {% component "unfold/components/text.html" with class="text-red-700 dark:text-red-400" %}{% trans 'No emergency contacts added' %}{% endcomponent %}
                    {% endif %}
                {% endcomponent %}
            {% endcomponent %}

            {% for vehicle in user.vehicles.all %}
                {% component "unfold/components/card.html" with title=vehicle.plate label=vehicle.is_active|yesno:_("Active,Inactive") %}
                    {% component "unfold/components/flex.html" with col=True %}
                        {% component "unfold/components/text.html" %}{{ vehicle.brand }}{% endcomponent %}
                        {% component "unfold/components/text.html" %}{{ vehicle.model }}{% endcomponent %}
                        {% component "unfold/components/text.html" %}{{ vehicle.engine_capacity }} cc{% endcomponent %}
                        {% component "unfold/components/text.html" %}{{ vehicle.year }}{% endcomponent %}
                        {% component "unfold/components/text.html" %}{% trans 'Maintenance' %}: {{ vehicle.last_maintenance_date|timesince|default:"-" }}{% endcomponent %}
                        {% component "unfold/components/text.html" %}{% trans 'Inspection' %}: {{ vehicle.inspection_expiry_date|timeuntil|default:"-" }}{% endcomponent %}
                        {% component "unfold/components/text.html" %}{% trans 'Insurance' %}: {{ vehicle.insurance_expiry_date|timeuntil|default:"-" }}{% endcomponent %}
                    {% endcomponent %}
                {% endcomponent %}
            {% empty %}
                {% component "unfold/components/card.html" with title=_("Vehicle Info") %}
                    {% component "unfold/components/title.html" %}{% trans 'No vehicle' %}{% endcomponent %}
                {% endcomponent %}
            {% endfor %}
        {% endcomponent %}

        {% comment %} Second Row {% endcomment %}
        {% component "unfold/components/flex.html" with col=True class="lg:flex-row gap-4" %}
            {% component "unfold/components/card.html" with title=_("My Participations") icon="calendar_month" %}
                {% component "unfold/components/title.html" %}{{ user.attended_events.count|default:"Invisible" }}{% endcomponent%}
            {% endcomponent%}
            {% component "unfold/components/card.html" with title=_("My Rides") icon="directions" %}
                {% component "unfold/components/title.html" %}{{ ride_count_title }}{% endcomponent%}
            {% endcomponent%}
            {% component "unfold/components/card.html" with title=_("My Debts") icon="wallet" label=total_debt_label %}
                {% component "unfold/components/title.html" %}{{ total_debt_title }}{% endcomponent%}
            {% endcomponent%}
            {% component "unfold/components/card.html" with title=_("My Penalties") icon="warning" label=_("in a year") %}
                {% component "unfold/components/title.html" %}{{ penalty_count_title }}{% endcomponent%}
            {% endcomponent%}
            {% if is_member %}
                {% component "unfold/components/card.html" with title=_("Net Balance") icon="balance" %}
                    {% component "unfold/components/title.html" %}{{ balance_title }}{% endcomponent%}
                {% endcomponent%}
            {% endif %}
        {% endcomponent %}

        {% component "unfold/components/separator.html" %}{% endcomponent %}

        {% comment %} Table {% endcomment %}
        {% if is_member %}
            {% component "unfold/components/flex.html" with col=True class="lg:flex-row gap-4" %}
                {% component "unfold/components/card.html" with title=_("Event Absences") footer=_("in a year") %}
                    {% component "unfold/components/table.html" with table=event_table card_included=1 striped=1 %}{% endcomponent%}
                {% endcomponent %}
                {% component "unfold/components/card.html" with title=_("Ride Absences") footer=_("in a year") %}
                    {% component "unfold/components/table.html" with table=ride_table card_included=1 striped=1 %}{% endcomponent%}
                {% endcomponent %}
                {% component "unfold/components/card.html" with title=_("Unpaid Dues") footer=_("in a year") %}
                    {% component "unfold/components/table.html" with table=due_table card_included=1 striped=1 %}{% endcomponent%}
                {% endcomponent %}
            {% endcomponent %}
            {% component "unfold/components/flex.html" with col=True class="lg:flex-row gap-4" %}
                {% component "unfold/components/card.html" with title=_("Missing Contacts") footer=contact_table_footer %}
                    {% component "unfold/components/table.html" with table=contact_table card_included=1 striped=1 %}{% endcomponent%}
                {% endcomponent %}
                {% component "unfold/components/card.html" with title=_("Riders") footer=motorcycle_table_footer %}
                    {% component "unfold/components/table.html" with table=motorcycle_table card_included=1 striped=1 %}{% endcomponent%}
                {% endcomponent %}
            {% endcomponent %}
        {% endif %}
    {% endcomponent %}
{% endblock %}